.home{
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.create_form input{
  width:300px;
  padding:10px;
  border-bottom: 2px solid;
  outline:none;
  margin-left: 450px;
}
.create_form button{
  padding:10px;
  background-color: black;
  color:white;
  cursor:pointer;
  
}
.empty{
  text-align:center;
}
.empty2{
  display: flex;
  align-items: center;
  width:360px;
  justify-content: space-between;
  background-color: black;
  color: white;
  height:35px;
  padding: 2px 5px 2px 5px;
  margin-top: 2px;
  margin-left: 450px;

}
.checkbox{
  display: flex;
  align-items: center;
 
}
.checkbox.icon{
  margin-right:5px ;
  font-size: 15px;
}

.empty2 div span{
  margin:0px 5px 0px 4px;
}
.empty2 div .icon{
  cursor: pointer;
}
.empty3{
  margin-left: 8px;
}
.line_through{
  text-decoration: line-through;
}
.line{
  text-decoration: none;
}